<div class="grid-container">
    <div class="grid-column content-center container-small">
        <header class="text-center">
            <i class="mdi mdi-check-bold mdi-size-medium"></i>
            <h2>%{page.header}</h2>
            <p>%{page.desc}</p>
            <p class="text-italic">%{page.warning}</p>
        </header>
    </div>
    <div class="grid-column content-center flex-no-grow margin-50px">
        <h2>%{page.redirect_timer}</h2>
        <progress value="1" id="progress-bar"></progress>
    </div>
</div>
<script>
    let timer = 10;
    let progressBar = document.getElementById("progress-bar");
    let timeLeft = document.getElementById("time-left");

    setInterval(function () {
        timer--;
        if (timer <= 0) {
            Cactus.home();
            return;
        }

        timeLeft.innerText = timer.toString(10);
        progressBar.value = timer / 10;
    }, 1_000);
</script>