<ul class="grid-list full-size">
    <li class="grid-list-item">
        <a class="button" href="@{admin_action|action=quit}">%{page.actions.close}</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{admin_action|action=update}">%{page.actions.update}</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{printer_print|id=PQSSZORD}">%{page.actions.print_ticket}</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{error|error=500}">Error 500</a>
    </li>
</ul>