<!DOCTYPE html>
<html lang="${page.lang}">
<head>
    <title>%{page.name}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="${url.static}/css/style.css?v=20191213"/>
    <link rel="stylesheet" href="${url.static}/css/header.css?v=20191213"/>
    <link rel="stylesheet" href="${url.static}/css/list.css?v=20191213"/>
</head>
<body>
<header id="app-header">
    <h1 id="app-title">%{page.name}</h1>
</header>
<div id="app-content">
    ${page.content}
</div>
<footer id="app-footer">
    %{app.footer}
</footer>
</body>
</html>