<!DOCTYPE html>
<html lang="${page.lang}">
<head>
    <title>%{page.name}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="${url.static}/css/theme.css"/>
    <link rel="stylesheet" href="${url.static}/css/style.css"/>
    <link rel="stylesheet" href="${url.static}/css/header.css"/>
    <link rel="stylesheet" href="${url.static}/css/grid-list.css"/>
    <link rel="stylesheet" href="${url.static}/css/pagination.css"/>
    <link rel="stylesheet" href="${url.static}/css/keyboard.css"/>
    <link rel="stylesheet" href="${url.static}/css/loading-panel.css"/>
    <link rel="stylesheet" href="${url.static}/css/form.css"/>
    <link rel="stylesheet" href="${url.static}/css/materialdesignicons.css"/>

    <script type="application/javascript" src="${url.static}/js/app.js"></script>
    <script type="application/javascript" src="${url.static}/js/barcode.js"></script>
    <script type="application/javascript" src="${url.static}/js/keyboard.js"></script>
</head>
<body onload="Cactus.init()">
<input type="text" id="barcode-input" style="position: fixed; top:10%;">
<div id="loading-panel" style="display: none">
    <ul class="ripple-loader">
        <li></li>
        <li></li>
    </ul>
</div>
<header id="app-header">
    <a id="app-back-btn" href="javascript:Cactus.back()"><span class="mdi mdi-arrow-left-thick"></span></a>
    <h1 id="app-title">%{page.name}</h1>
    <a id="app-home-btn" href="javascript:Cactus.home()"><span class="mdi mdi-home"></span></a>
</header>
<section id="app-content">
    ${page.content}
</section>

<script>
    const HOME_PAGE = "@{${home-page}}";
    const ADMIN_PAGE = "@{admin.index}";
    const UPDATE_PAGE = "@{admin.update}";
    const EASTER_EGG_PAGE = "@{easter-egg.index}";
</script>

</body>
</html>