<p>%{page.help}</p>
<ul class="grid-list grid-3x full-size">
    <li class="grid-list-item">
        <a class="button welcome__bac_pro_sn" href="@{welcome}">%{page.name}</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{welcome}">%{page.name}</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{welcome}">%{page.name}</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{welcome}">%{page.name}</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{welcome}">%{page.name}</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{welcome}">%{page.name}</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{welcome}">%{page.name}</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{welcome}">%{page.name}</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{welcome}">%{page.name}</a>
    </li>
</ul>
<style>
    a.button.welcome__bac_pro_sn {
        background-color: red;
        background-image: var(--page-background);
        background-size: cover;
        background-position: center center;
    }
</style>