<p>%{page.help}</p>
<ul class="grid-list full-size">
    <li class="grid-list-item">
        <a class="button" href="@{error|error=404}">Error 404</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{error|error=404}">Error 404</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{error|error=404}">Error 404</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{error|error=404}">Error 404</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{error|error=404}">Error 404</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{error|error=404}">Error 404</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{error|error=404}">Error 404</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{error|error=404}">Error 404</a>
    </li>
</ul>