<section class="app-section">
    <div class="section-content">
        <p>%{page.help}</p>
        <a class="big-button" href="@{debug}">Open Debug Menu</a>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum tristique nunc. Aenean eleifend
            auctor sapien. Aliquam erat volutpat. Morbi vitae eleifend metus. Integer in semper risus. Mauris ex purus,
            maximus id quam in, sagittis fringilla tellus. Morbi ut augue risus. Interdum et malesuada fames ac ante
            ipsum primis in faucibus. Integer sed gravida elit, sit amet pharetra neque. Suspendisse vitae euismod
            mauris. Ut venenatis sem a neque tincidunt, malesuada fermentum magna fermentum. In porta non quam porta
            dapibus. In augue felis, sodales ac urna eu, sodales vehicula ipsum.
        </p>
        <p>
            Sed lobortis nisi in diam consequat, at consectetur est facilisis. Suspendisse cursus non eros non
            facilisis. Morbi finibus ipsum finibus posuere fringilla. Suspendisse arcu libero, sollicitudin a sem vitae,
            viverra varius felis. Praesent luctus nibh at convallis feugiat. Integer a tempus nunc. Donec gravida luctus
            odio, non pretium ipsum.
        </p>
        <p>
            Sed vitae urna ac sapien rhoncus varius. Ut volutpat arcu et mollis facilisis. Sed feugiat nec risus sit
            amet posuere. Nunc lobortis, velit auctor auctor molestie, odio augue egestas nisi, quis vehicula tellus
            odio sed nibh. Etiam arcu mauris, fermentum egestas fringilla nec, congue nec augue. Praesent mattis gravida
            urna, at porttitor massa blandit vel. Curabitur a hendrerit metus, et elementum elit. Etiam viverra massa at
            lobortis varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed
            tincidunt augue nunc, in posuere magna tincidunt quis. Vivamus ac magna sit amet nibh aliquet mattis. Etiam
            in orci sagittis ipsum rutrum varius nec vel felis.
        </p>
        <p>
            Vivamus ut lobortis augue. Duis sodales mi in orci volutpat, sed fermentum leo tempor. Sed ultricies purus
            quis molestie congue. Nam aliquam augue nec leo mollis, et condimentum lorem molestie. Ut facilisis orci ut
            arcu fermentum porttitor. Duis tempor eleifend tortor, nec dapibus nisi aliquam eget. Nulla eleifend dictum
            ligula, a efficitur lorem fermentum dignissim. Aenean dignissim tempus pellentesque. Morbi varius sit amet
            odio quis fringilla. Etiam gravida volutpat eros, eget faucibus sem vestibulum quis. Vivamus ultrices
            gravida accumsan. Quisque ac facilisis tortor.
        </p>
        <p>
            Morbi ac nulla non ipsum euismod vestibulum. Sed placerat odio nec rutrum rhoncus. Cras nibh justo, aliquet
            sit amet gravida sed, interdum eget urna. Fusce sodales lacus eget mollis rutrum. In nec feugiat mauris.
            Suspendisse maximus et elit sit amet dignissim. Vestibulum quis rhoncus lectus. Morbi vel porta eros.
            Pellentesque fringilla ex nec interdum lacinia. Donec augue mauris, mollis sed condimentum quis, hendrerit
            et urna. Phasellus consectetur nisl et orci consectetur semper. Proin pulvinar, risus sed sollicitudin
            tristique, est sapien consequat tellus, eget blandit ipsum lorem in quam. Sed a molestie sapien. Donec nec
            nunc at augue condimentum dignissim. Integer sit amet ullamcorper ipsum. Nam auctor pulvinar ligula.
        </p>
    </div>
</section>