<img class="keep-ratio" draggable="false" src="${url.static}/img/logo.png" alt="Logo PEM">

<div class="grid-container text-center margin-10px">
    <div class="grid-row">
        <a class="btn btn-large margin-10px" href="@{presentation.index}">%{page.name}</a>
        <a class="btn btn-large margin-10px" href="@{presentation.index}">%{page.name}</a>
    </div>
    <div class="grid-row">
        <a class="btn btn-large margin-10px" href="@{presentation.index}">%{page.name}</a>
        <a class="btn btn-large margin-10px" href="@{presentation.index}">%{page.name}</a>
    </div>
</div>