<img src="${url.static}/img/logo.png" style="object-fit: contain"/>
<div class="grid-container grid-2w full-size">
    <a class="btn btn-expand" href="@{presentation.welcome}">%{page.name}</a>
    <a class="btn btn-expand" href="@{presentation.welcome}">%{page.name}</a>
    <a class="btn btn-expand" href="@{presentation.welcome}">%{page.name}</a>
    <a class="btn btn-expand" href="@{presentation.welcome}">%{page.name}</a>
</div>
<div class="grid-container grid-3w">
    <p>
        CREATED BY
    </p>
    <ul>
        <li>Fabien SENUT--SCHAPPACHER</li>
        <li>Jonathan PASDELOUP</li>
        <li>Louis DOLBECQ</li>
    </ul>
    <ul>
        <li>JEAN-PIERRE LOMBARD</li>
        <li>STEPHANE LACOSTE</li>
        <li>LAURENT PERRIER</li>
    </ul>
</div>