ul.grid-list {
    display: grid;
    grid-auto-flow: dense;
    grid-template: none;
    grid-gap: 10px;

    list-style: none;
    padding: 0;
}

ul.grid-list li.grid-list-item a.button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 15px;
    width: 100%;
    height: 100%;
}

ul.grid-list.grid-3x {
    grid-template-columns: repeat(3, 1fr);
}

ul.grid-list.grid-2x {
    grid-template-columns: repeat(2, 1fr);
}