ul.grid-list {
    display: grid;
    list-style: none;
    padding: 0;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

ul.grid-list.grid-1x {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

ul.grid-list li.grid-list-item {
    vertical-align: center;
}

ul.grid-list li.grid-list-item a.button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 15px;
    width: 100%;
    height: 100%;
}