header#app-header, footer#app-footer {
    background-color: #ECEFF1;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    padding: 15px 20px;
}

header#app-header {
    grid-area: header;

    justify-content: center;
    border-bottom: 1px solid var(--light-color-alt);
}

header#app-header h1#app-title {
    font-weight: normal;
    margin: 0;
}

footer#app-footer {
    grid-area: footer;

    justify-content: space-between;
    border-top: 1px solid var(--light-color-alt);
}

footer#app-footer nav {
    font-size: 3.5em;
}