header#app-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    color: var(--secondary-color);
    background-color: var(--primary-color);

    padding: 10px 15px;
}

header#app-header h1#app-title {
    font-weight: normal;
    margin: 0;
}

header#app-header a {
    color: var(--secondary-color);
}
header#app-header a:active {
    color: var(--primary-color-light);
}