header#app-header {
    background-color: var(--light-color-alt);

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    padding: 15px 20px;
}

header#app-header {
    height: var(--header-size);

    grid-area: header;

    justify-content: space-between;
    border-bottom: 1px solid var(--dark-color-alt);
}

header#app-header a {
    font-size: 2.5em;
}

header#app-header h1#app-title {
    font-weight: normal;
    margin: 0;
}