.grid-container {
    display: grid;
    grid-auto-flow: dense;
    grid-template: none;
    grid-gap: 10px;
}

.grid-container.grid-2w {
    grid-template-columns: repeat(2, 1fr);
}

.grid-container.grid-3w {
    grid-template-columns: repeat(3, 1fr);
}