.grid-container {
    display: grid;
    grid-auto-flow: dense;
    grid-template: none;
    grid-gap: 10px;
}

.grid-container.grid-2w {
    grid-template-columns: repeat(2, 1fr);
}

.grid-container.grid-3w {
    grid-template-columns: repeat(3, 1fr);
}

.grid-container .grid-item.grid-fullscreen {
    flex-grow: 1;
}
.grid-container .grid-item.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    padding: 15px 15px;
    width: 100%;
    height: 100%;
}