ul.pagination-list {
    display: flex;
    flex-direction: row;
    justify-content: center;

    list-style: none;
    padding: 0;
    margin: 0;
}

ul.pagination-list li.pagination-list-item {
    margin: 5px;
}

ul.pagination-list li.pagination-list-item a.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 30px;
}