@charset "UTF-8";

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;

    width: 100%;
    min-width: 100%;
    max-width: 100%;

    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;

    overflow: hidden;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;

    font-family: "Open Sans", Fallback, sans-serif;
    font-size: 1.2em;
    color: #37474F;
}

div#app-content {
    flex-grow: 1;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 50px;
}

a {
    color: #37474F;
    cursor: pointer;
}

a.button {
    display: block;

    text-decoration: none;

    padding: 2px 5px;
    margin: 5px auto;

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border: 2px solid #CFD8DC;
    border-radius: 5px;
}

a.button:active, a.button:hover {
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.2);
}