@charset "UTF-8";

* {
    box-sizing: border-box;
}

.container {
    width: 75%;
    min-width: 250px;
    margin: 25px auto;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    color: #FFFFFF;
}