@charset "UTF-8";

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;

    width: 100%;
    min-width: 100%;
    max-width: 100%;

    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;

    overflow: hidden;
    user-select: none;

    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

body {
    display: grid;
    grid-row: 3;
    grid-column: 1;
    grid-template-rows: 60px 1fr 80px;
    grid-template-columns: auto;
    grid-template-areas: "header" "content" "footer";

    font-family: "Open Sans", Fallback, sans-serif;
    font-size: 1.2em;
    color: #37474F;

    background-image: url("../img/background.jpg");
}

section#app-content {
    display: flex;
    flex-direction: column;

    grid-area: content;

    text-align: center;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 50px;

    overflow: hidden paged-y-controls;
}

section#app-content .full-size {
    flex-grow: 1;
}

a {
    color: #37474F;
    cursor: pointer;

    -webkit-user-drag: none;
}

a.button {
    display: block;

    text-decoration: none;

    padding: 2px 5px;
    margin: 0 auto;

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border: 2px solid #CFD8DC;
    border-radius: 5px;
}

a.button:active, a.button:hover {
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.2);
}