<div class="grid-container grid-2w full-size">
    <a class="btn btn-expand" href="@{easter-egg.jukebox}">
        <i class="mdi mdi-play"></i>
        %{pages.easter-egg.jukebox.name}
    </a>
    <a class="btn btn-expand" href="@{easter-egg.flappy-bird}">
        <i class="mdi mdi-gamepad-variant"></i>
        %{pages.easter-egg.flappy-bird.name}
    </a>
    <a class="btn btn-expand" href="@{easter-egg.pacman}">
        <i class="mdi mdi-gamepad-variant"></i>
        %{pages.easter-egg.pacman.name}
    </a>
    <a class="btn btn-expand" href="@{easter-egg.bubulator}">
        <i class="mdi mdi-gamepad-variant"></i>
        %{pages.easter-egg.bubulator.name}
    </a>
</div>