<input type="hidden" id="parent-page" value="@{easter-egg.index}">
<div class="grid-container full-size">
    <a class="btn btn-expand" onclick="playSong(this);">
        <i class="mdi mdi mdi-play"></i>
        %{page.play_song}
    </a>
</div>
<script type="application/javascript">
    function playSong(button) {
        fetch("@{jukebox|action=play}").catch(reason => {
            button.text = reason;
        }).then(result => {
            return result.json();
        }).then(result => {
            button.text = result.song ? result.song : "error";
        });
    }
</script>