<style>
    canvas#game-canvas {
        image-rendering: optimizeSpeed;
        object-fit: contain;
        flex-grow: 1;
    }
</style>
<input type="hidden" id="parent-page" value="@{easter-egg.index}">
<canvas id="game-canvas"></canvas>
<script src="${url.static}/games/js/game.js"></script>
<script src="${url.static}/games/js/pacman.js"></script>
<script>
    const PLAYER_URL = "${url.static}/games/img/pacman/player.png";
    const BLINKY_URL = "${url.static}/games/img/pacman/ghosts/blinky.png";
    const CLYDE_URL = "${url.static}/games/img/pacman/ghosts/clyde.png";
    const INKY_URL = "${url.static}/games/img/pacman/ghosts/inky.png";
    const PINKY_URL = "${url.static}/games/img/pacman/ghosts/pinky.png";

    let canvas = document.getElementById("game-canvas");
    const game = new Game(canvas);

    let textures = [PLAYER_URL, BLINKY_URL, CLYDE_URL, INKY_URL, PINKY_URL];
    for (let i = 0; i < 5; i++) {

        let player = new Player(i * 24 + 64, 50, textures[i]);
        game.addObject(player);

    }

    canvas.addEventListener("mousedown", e => {
    });

    game.run();
</script>