<ul class="grid-list full-size">
    <li class="grid-list-item">
        <a class="button" onclick="playSong(this);">
            <i class="mdi mdi mdi-play"></i>
            %{page.play_song}
        </a>
    </li>
</ul>
<script type="application/javascript">
    function playSong(button) {
        fetch("@{song-player|action=play}").catch(reason => {
            button.text = reason;
        }).then(result => {
            return result.json();
        }).then(result => {
            button.text = result.song ?? "error";
        });
    }
</script>