<img src="${url.static}/img/logo.png" style="object-fit: contain"/>
<div class="grid-container grid-2w full-size">
    <section class="column">
        <header>
            <h2>%{page.sign_up.name}</h2>
            <p>%{page.sign_up.desc}</p>
        </header>
        <a class="btn btn-expand" href="@{search-school.region}">
            <i class="mdi mdi-account-plus"></i>
        </a>
    </section>
    <section class="column">
        <header>
            <h2>%{page.scan.name}</h2>
            <p>%{page.scan.desc}</p>
        </header>
        <a class="btn btn-expand" href="@{user.scan}">
            <i class="mdi mdi-barcode-scan"></i>
        </a>
    </section>
</div>
<style>
    section.column {
        display: flex;
        flex-flow: column;
        height: 100%;
    }

    section.column header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        padding: 20px 0;
    }

    section.column header h2, p {
        margin: 0;
    }

    section.column a.btn i.mdi {
        font-size: 250px;
    }
</style>