<ul class="grid-list full-size">
    <li class="grid-list-item">
        <a class="button" href="@{sign-up.select-school|region=${route.region}|department=${route.department}|grade=}">%{page.grades.college}</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{sign-up.select-school|region=${route.region}|department=${route.department}|grade=}">%{page.grades.high_school}</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{sign-up.select-school|region=${route.region}|department=${route.department}|grade=}">%{page.grades.high_school_professional}</a>
    </li>
</ul>