<div class="grid-container grid-2w full-size">
    <a class="btn btn-expand" href="@{admin.action|action=clear_cache}">
        <i class="mdi mdi-cached"></i>
        <span>%{page.actions.clear_cache}</span>
    </a>
    <a class="btn btn-expand" href="@{admin.update}">
        <i class="mdi mdi-download"></i>
        <span>%{page.actions.update}</span>
    </a>
    <a class="btn btn-expand" href="@{admin.ticket}">
        <i class="mdi mdi-printer"></i>
        <span>%{page.actions.print_ticket}</span>
    </a>
    <a class="btn btn-expand" href="@{admin.action|action=set_presentation_mode}">
        <i class="mdi mdi-home"></i>
        <span>%{page.actions.presentation_mode}</span>
    </a>
    <a class="btn btn-expand" href="@{admin.action|action=set_sign_up_mode}">
        <i class="mdi mdi-account"></i>
        <span>%{page.actions.sign-up_mode}</span>
    </a>
</div>