<ul class="grid-list full-size">
    <li class="grid-list-item">
        <a class="button" href="@{admin.action|action=clear_cache}"><i class="mdi mdi-cached"></i>
            %{page.actions.clear_cache}</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{admin.update}"><i class="mdi mdi-download"></i> %{page.actions.update}</a>
    </li>
    <li class="grid-list-item">
        <a class="button" href="@{admin.ticket}"><i class="mdi mdi-printer"></i>
            %{page.actions.print_ticket}</a>
    </li>
</ul>