<input type="hidden" id="parent-page" value="@{admin.index}">
<ul class="grid-list full-size">
    <li class="grid-list-item">
        <a class="button" onclick="doUpdate(this);">
            <i class="mdi mdi mdi-download"></i>
            %{page.do_update}
        </a>
    </li>
</ul>
<script type="application/javascript">
    function doUpdate(link) {
        link.onclick = undefined;
        link.text = '%{page.updating}';

        fetch("${url.root}/update.php").catch(reason => {
            link.text = reason;
        }).then(result => {
            return result.json();
        }).then(result => {
            link.text = result.message;
        });
    }
</script>