<input type="hidden" id="parent-page" value="@{admin.index}">
<div class="grid-container text-center margin-10px">
    <a class="btn btn-large" onclick="doUpdate(this);">
        <i class="mdi mdi-download"></i>
        %{page.do_update}
    </a>
</div>
<script type="application/javascript">
    function doUpdate(link) {
        link.onclick = undefined;
        link.text = '%{page.updating}';

        fetch("${url.root}/update.php").catch(reason => {
            link.text = reason;
        }).then(result => {
            return result.json();
        }).then(result => {
            link.text = result.message;
        });
    }
</script>